<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="puzzlebot">

    <xacro:property name="update_rate" value="60" />


    <!-- Includes the differential drive controller and joint state publisher -->
    <xacro:macro name="diff_drive_controller">
        <!-- Differential Drive Controller -->
        <gazebo>
            <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">
                <!-- Update rate in Hertz -->
                <odom_publisher_frequency>${update_rate}</odom_publisher_frequency>

                <!-- wheels -->
                <left_joint>wheel_left_joint</left_joint>
                <right_joint>wheel_right_joint</right_joint>

                <!-- kinematics -->
                <wheel_separation>0.179</wheel_separation>
                <wheel_radius>${0.09334/2}</wheel_radius>

                <!-- limits -->
                <max_linear_acceleration>1.0</max_linear_acceleration>

                <!-- input -->
                <topic>cmd_vel</topic>

                <!-- output -->
                <odom_topic>odom</odom_topic>
                <frame_id>odom</frame_id>
                <child_frame_id>base_link</child_frame_id>

                <tf_topic>/tf</tf_topic>
            </plugin>
        </gazebo>

        <!-- Joint State Publisher Plugin -->
        <gazebo>
            <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">

                <topic>joint_states</topic>

                <joint_name>wheel_right_joint</joint_name>
                <joint_name>wheel_left_joint</joint_name>
                <joint_name>caster_wheel_roll_joint</joint_name>
                <joint_name>caster_wheel_pitch_joint</joint_name>
                <joint_name>caster_wheel_yaw_joint</joint_name>
            </plugin>
        </gazebo>
    </xacro:macro>


    <!-- Camera sensor plugin -->
    <xacro:macro name="camera_plugin">

        <gazebo reference="camera_frame">
            <sensor name="rgb_camera" type="camera">
                <always_on>true</always_on>
                <topic>camera/image_raw</topic>
                <visualize>true</visualize>
                <update_rate>${update_rate}</update_rate>  <!-- Camera frame rate (Hz) -->
                <camera name="rgb_camera">
                    <camera_info_topic>camera/camera_info</camera_info_topic>
                    <horizontal_fov>1.3962634</horizontal_fov>
                    <image>
                        <width>320</width>
                        <height>240</height>
                    </image>
                    <clip>
                        <near>0.01</near>
                        <far>20</far>
                    </clip>
                    <distortion>
                        <k1>-0.15</k1>
                        <k2>0.08</k2>
                        <k3>-0.02</k3>
                        <p1>0.001</p1>
                        <p2>-0.001</p2>
                        <center>0.5 0.5</center>
                    </distortion>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
            </sensor>
        </gazebo>
    </xacro:macro>

    <!-- Lidar plugin -->
    <xacro:macro name="lidar_plugin">
        <gazebo reference="lidar_frame">
            <sensor name="lidar_sensor" type="gpu_lidar">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <always_on>true</always_on>
                <topic>scan</topic>
                <gz_frame_id>lidar_frame</gz_frame_id>
                <lidar>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1.0</resolution>
                            <min_angle>-3.14</min_angle>
                            <max_angle>3.14</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.15</min>
                        <max>8.0</max>
                        <resolution>0.1</resolution>
                    </range>
                </lidar>
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>